body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
}

.logo{
    background-color: #1f3c88;
    color: white;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
}

.Banner{
    background-color: #5893d4;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.busca input{
    padding: 8px;
    width: 200px;
    border-radius: 14px;
}

.busca button{
    padding: 8px;
    border-radius: 14px;
}

.anuncio-topo{
    background-color: #ffc107;
    padding: 10px;
    font-weight: bold;
}

.menu-admin{
    background-color: #343a40;
    padding: 10px;
    text-align: right;
}

.menu-admin a{
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

.menu-nav{
    background-color: #007bff;
    text-align: center;
    padding: 10px;
}

.menu-nav a{
    color: white;
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
}

.destaque{
    background: white;
    margin: 20px;
    padding: 20px; 
    border-left: 5px solid #007bff;
}

.conteiner{
    display: flex;
    margin: 20px;
}

.conteudo{
    flex: 3;
    background: white;
    padding: 20px;
    margin-right: 20px;
}

aside{
    flex: 1;
    background: #e9ecef;
    padding: 20px;
}

aside div{
    background: #ffc107;
    margin-bottom: 15px;
    padding: 10px;
    text-align: center;

}

footer{
    background: #1f3c88;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}